body{
    background-color: aquamarine;
    background-image: url(images/backgroung_transformed.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    text-align: center;
    justify-self: center;
    color: rgb(39, 39, 39);
}

.menu{
    text-align: center;
    width: 80%;
    box-shadow: 0 0px 8px 3px rgba(255, 255, 255, 0.76);
    padding: 7px;
    border-radius: 30px;
    backdrop-filter: blur(10px); 
    text-align: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
   table,th,td{
    background-color: rgba(185, 252, 199, 0.651);
    border-collapse: collapse;
    border-style:groove;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
   }
   th{
    background-color: chartreuse;
    font-size: large;
    color: #313131;
    border-radius: 10%;
   }
   td{
    text-align: center;
   }
   tr{
    border-radius: 10%;
   }
   input {
    font: inherit;
    padding: 0.2em 0.5em;
    border-radius: 5px;
  }
  textarea{
    font: inherit;
    border-radius: 5px;
  }

    .btn{
        
        -webkit-border-radius: 23;
      -moz-border-radius: 23;
      border-radius: 23px;
      -webkit-box-shadow: 3px 2px 5px #666666;
      -moz-box-shadow: 3px 2px 5px #666666;
      box-shadow: 3px 2px 5px #666666;
      font-family: Georgia;
      color: #fff;
      font-size: 15px;
      background: #347ed9;
      padding: 10px 20px 10px 20px;
      margin-right: 1cm;
      text-decoration: none;
      width: 8%;
        
      }
      .btn:hover {
        background: #3cb0fd;
        text-decoration: none;
      }
.err_msg{
    color: red;
}